[user]
	name = Brandon Autrey
	email = brandon.c.autrey@gmail.com
[push]
	default = current
[merge]
	conflictstyle = diff3
[core]
	excludesfile = /Users/brandonautrey/.gitignore_global
	hooksPath = /Users/brandonautrey/.git_hooks
	editor = subl
[commit]
	verbose = true
	gpgSign = true
[init]
	defaultBranch = main
[pull]
	rebase = true
